* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-utl: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --swith-bg-url: url(./assets/moon-stars.svg);
}

.Light {
  --text-color: black;
  --bg-utl: url(./assets/Background.png);
  --stroke-color: rgba(225, 225, 225, 0.5);
  --surface-color: rgba(225, 225, 225, 0.1);
  --swith-bg-url: url(./assets/sun.svg);
}

body,
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-utl) no-repeat top center/cover;
}

#container {
  width: 100%;
  max-width: 460px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white;
  background-image: var(--swith-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: animation2 0.4s forwards;
}

.Light #switch button {
animation: animation 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(115, 115, 115, 0.5);
  border: 1px solid rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--stroke-color);
  border: 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(16px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
  border: 1px solid gray;
}

/* Pseudo selector */
ul li a:hover {
  background: rgba(115, 115, 115, 0.5);
  border: 1.5px solid var(--text-color);
}

#SocialLinks {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0;
  font-size: 24px;
}

#SocialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  padding: 16px;
  border-radius: 50%;
}

#SocialLinks a:hover {
  background: rgba(115, 115, 115, 0.5);
}

@keyframes animation {
  from {
    left: 0;
  }
  to{
    left: 50%;
  }
}
@keyframes animation2 {
  from {
   left: 50%;
  }
  to{
   left: 0;
  }
}